:root {
  --background: linear-gradient(45deg, #02001f, #1f1b4e);
  --text-color: #ff2c75;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.list {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style: none;
}

.list-item {
  color: transparent;
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 auto;
  width: max-content;
  transition: transform 1s, color 0.5s;
  display: flex;
  flex-direction: column;
  transform: translateX(0px);
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-item:hover {
  transform: translateX(5%);
  font-style: italic;
}

.list-item {
  position: relative;
  transition: width 0.5s, left 0.5s;
}

.list-item::before {
  color: var(--text-color);
  content: attr(data-text);
  position: absolute;
  left: 0;
  overflow: hidden;
  transform: translateX(0px);
  transition: transform 1s, color 1s;
  clip-path: inset(0 0 50% 0);
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-item:hover::before {
  transform: translateX(5%);
  font-style: italic;
  color: white;
  outline: 3px solid var(--text-color);
  outline-offset: -15px;
}

.list-item::after {
  color: var(--text-color);
  content: attr(data-text);
  position: absolute;
  left: 0;
  overflow: hidden;
  transform: translateX(0px);
  transition: transform 1s, color 1s;
  clip-path: inset(50% 0 0 0);
  padding-left: 1rem;
  padding-right: 1rem;
}

.list-item:hover::after {
  transform: translateX(-5%);
  font-style: italic;
  color: white;
}
